* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--gray-600);
}

body, input, textarea, button {
    font-family: "Inter", sans-serif;
}

:root {
    --danger: #E25858;

    --purple: #8284FA;
    --purple-dark: #5E60CE;
    --blue: #4EA8DE;
    --blue-dark: #1E6F9F;

    --gray-100: #F2F2F2;
    --gray-200: #D9D9D9;
    --gray-300: #808080;
    --gray-400: #333333;
    --gray-500: #262626;
    --gray-600: #1A1A1A;
    --gray-700: #0D0D0D;
}

.header {
    width: 100%;
    height: 12.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gray-700);
}

.taskBox {
    display: flex;
    justify-content: space-between;
    width: 46rem;
    margin-inline: 22rem;
    margin-bottom: 1.5rem;
}

.createdTasks {
    display: flex;
    align-items: center;
    color: var(--blue);
    font-size: 0.875;
    font-weight: 700;
    gap: .5rem;
}

.completedTasks {
    display: flex;
    align-items: center;
    color: var(--purple);
    font-size: 0.875;
    font-weight: 700;
    gap: .5rem;
}

.counters {
    padding: 0.125rem .5rem;
    border-radius: 100vw;
    background-color: var(--gray-400);
    text-align: center;
    font-weight: 700;
    color: var(--gray-200);
}

.inputAndButtonWrapper {
    display: flex;
    width: 46rem;
    gap: .5rem;
    margin-inline: 22rem;
    margin-bottom: 4rem;
    position: relative;
    bottom: 1.125rem;
}

.inputAndButtonWrapper input {
    width: 39.875rem;
    color: var(--gray-300);
    font-size: 1rem;
    background-color: var(--gray-500);
    border: 1px solid var(--gray-700);
    border-radius: 8px;
    outline: 0;
    padding: 1rem;
}

.inputAndButtonWrapper input:focus {
    border: 1px solid var(--purple-dark);
    color: var(--gray-100);
}

.inputAndButtonWrapper button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    width: 5.625rem;
    height: 3.25rem;
    color: var(--gray-100);
    font-weight: 700;
    font-size: 0.875rem;
    background-color: var(--blue-dark);
    border: 0;
    border-radius: 8px;
}

.inputAndButtonWrapper button:hover {
    cursor: pointer;
    background-color: var(--blue);
}

.plusIcon {
    top: 1.125rem;
}

.createdTasks {
    display: flex;
}

.completedTasks {
    display: flex;
}

.counter {
    color: var(--gray-200);
    padding: 0.125rem 0.5rem;
    background-color: var(--gray-400);
    border-radius: 100vw;
    text-align: center;
}

.taskList {
    width: 46rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-inline: 22rem;
    padding-top: 4rem;
    border-top: 1px solid var(--gray-400);
    border-radius: 8px;
}

.taskList > div {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    color: var(--gray-300);
}

.clipboard  {
    height: 56px;
    margin-bottom: 1rem;
}

.boldTaskListText {
    font-weight: bold;
}