.emptyTaskList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 46rem;
    padding-top: 4rem;
    border-top: 1px solid var(--gray-400);
    border-radius: 8px;
}

.clipboard  {
    height: 56px;
    margin-bottom: 1rem;
}

.boldTaskListText {
    font-weight: bold;
}